.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .padded-div {
    height: 130px;
  }

  .blank-progress-bar {
    height: 4px;
  }

  .blank-nav {
    height: 65px;
  }
}

@import './common.scss';
@import './Navbar/Navbar.scss';
@import './Navbar/Button.scss';
@import './Input/Input.scss';
@import './Search/Search.scss';
@import './SignIn/SignIn.scss';
@import './Footer/Footer.scss';
@import './SignUp/SignUp.scss';
@import './ProgressBar/ProgressBar.scss';
