.sign-up-container {
  height: 900px;
  margin-top: 10px;

  //   for chorme, safari, opera and other
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .create-account {
    .login {
      padding: 10px 100px;
    }
  }

  .password-validator-container {
    .password-validator {
      width: 51%;
      border: 0.5px solid red;
      padding: 1%;
      margin: 1%;
      border-radius: 10px;
      font-weight: bold;
      background-color: #f7f1f1;

      i {
        padding: 2px 10px 2px 10px;
        color: #ec8767;
      }
    }

    .password-validator-green {
      border: 0.5px solid greenyellow;
      background-color: #e2f0e5;
      i {
        color: green;
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .password-validator-container {
    .password-validator {
      width: 82%;
    }
  }
}
