.add-product-container {
  width: 45%;
  align-self: center;
  display: flex;
  box-shadow: 0px 0px 4px 3px #b5b5b5;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  background-color: whitesmoke;

  .heading {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 2%;
    color: #504c4c;
  }

  form {
    width: 95%;
  }
}

@media screen and (max-width: 1250px) {
  .add-product-container {
    width: 55%;
  }
}

@media screen and (max-width: 1050px) {
  .add-product-container {
    width: 65%;
  }
}

@media screen and (max-width: 850px) {
  .add-product-container {
    width: 85%;
  }
}

@media screen and (max-width: 650px) {
  .add-product-container {
    width: 97%;
  }
}
